.linkStartPage {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 98%;
}


a.button{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    text-decoration: none;
}